@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #23E3c9;
}
.slider{
	width:800px;
	height:500px;
	border-radius:10px;
	overflow: hidden;
}
.slides{
	width:500%;
	height:500px;
	display: flex;
}
.slides input{
	display:none;
}
.slide{
	width:20%;
	transition: 2s;
}
.slide img{
	width:800px;
	height:500px;
}

/*Css for manual slide navigation*/
.navigation-manual{
	position: absolute;
	width:800px;
	margin-top:-40px;
	display: flex;
	justify-content: center;
	
}
.manual-btn{
	border:2px solid #40D3DC;
	padding:5px;
	border-radius:10px;
	cursor:pointer;
	transition: 1s;
}
.manual-btn:not(:last-child){
	margin-right:40px;
}
.manual-btn:hover{
	background: #40D3DC;
}
#radio1:checked ~ .first{
	margin-left:0;
}
#radio2:checked ~ .first{
	margin-left:-20%;
}
#radio3:checked ~ .first{
	margin-left:-40%;
}
#radio4:checked ~ .first{
	margin-left:-60%;
}
/*Css for automatic navigation*/
.navigation-auto{
	display: flex;
	width:800px;
	justify-content: center;
	margin-top:460px;
	position: absolute;
}
.navigation-auto div{
	border:2px solid #40D3Dc;
	padding:5px;
	border-radius:10px;
	transition: 1s;
}
.navigation-auto div:not(:last-child){
	margin-right:40px;
}
#radio1:checked ~ .navigation-auto-btn1{
	background: #40D3Dc;
}
#radio2:checked ~ .navigation-auto-btn2{
	background: #40D3Dc;
}
#radio3:checked ~ .navigation-auto-btn3{
	background: #40D3Dc;
}
#radio4:checked ~ .navigation-auto-btn4{
	background: #40D3Dc;
}










